/*body {
    font-size:15pt;
    
 
 
background-image: url("hacker1.png") 

}*/

body ,html{

  height: 100%;

}

.bg {

 

  background-image: url("hacker1.png");

  

  height: 100%;



  background-position: center;

  background-repeat: no-repeat;

  background-size: cover;

}
